body {
    background-color: #e9edf6;
    font-family: 'Raleway', sans-serif;
    color: #353535;
    font-size: 16px;
}

h1 {
    font-weight: bold;
}

.sidebar {
    width: 0;
    position: fixed;
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.16);
    transition: .5s;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100%;
    position: fixed;
    transition: .5s;
    background-color: white;
}

.sidebar .close-sidenav {
    color: #353535;
    font-size: 2.6rem;
    display: inline-block;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}

.sidebar .close-sidenav:hover {
    transform: rotate(360deg);
}

.sidebar ul li {
    list-style-type: none;
    width: 100%;
    margin: 0.9;
}

.sidebar ul li a {
    font-size: 1.8rem;
    color: #353535;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.sidebar ul li a::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 0px;
    height: 10px;
    z-index: -1;
    background-color: #ffc258;
    transition: .3s;
}

.sidebar ul li a:hover::after {
    text-decoration: none;
    width: 100%;
}

.sidebar.active {
    width: 250px;
    z-index: 1000;
    margin-left: 250px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.424);
}

.overlay.active {
    display: block;
}

nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
    padding: 35px 0;
}

.jumbotron {
    background-color: #FFECDC;
    min-height: 600px;
    position: relative;
    overflow: hidden;
}

.jumbotron .jumbotron-illustrate svg {
    width: 100%;
    object-fit: contain;
}

.jumbotron h1 {
    font-size: 3rem;
    font-weight: bold;
}

.jumbotron .waves {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.jumbotron .container {
    position: relative;
    z-index: 2;
}

.main-btn {
    background-color: #FD991E;
    color: white;
    padding: 8px 22px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.main-btn-outline {
    border: 1px solid #FD991E;
    color: white;
    color: #FD991E;
    padding: 8px 22px;
}

.main-btn-outline:hover {
    background-color: #FD991E;
    color: white;
    padding: 8px 22px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.main-btn:hover {
    box-shadow: none;
    color: white;
}

.sec-btn {
    background-color: #3356B3;
    color: white;
    padding: 8px 22px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.sec-btn:hover {
    box-shadow: none;
    color: white;
}

span.bottom-line {
    position: relative;
    z-index: 1;
}

@keyframes progress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

span.bottom-line::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    height: 35%;
    background-color: #FFC050;
    animation: .5s progress ease-in;
}

.section-header {
    font-size: 2.5rem;
}

#what-we-do {
    min-height: 1200px;
    padding-bottom: 180px;
}

#services {
    margin-top: -140px;
    min-height: 600px;
    padding-bottom: 300px;
}

#services .card {
    padding: 25px 20px;
    transition: .3s;
    margin-top: 25px;
}

#services .card:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

#services .card h3 {
    margin: 23px auto;
    width: 155px;
    font-size: 1.5rem;
    font-weight: 600;
}


.card-web {
    color: #F48803 !important;
}

.card-android {
    color: #FF6B2F !important;
}

.card-uiux {
    color: #021D70 !important;
}

#portfolio .section-header {
    margin-top: -220px;
}

#portfolio .portfolio-item {
    margin-top: -140px;
}

#contact {
    padding-bottom: 5rem;
}

#contact .social-media {
    color: #353535;
}

#contact .social-media:hover {
    text-decoration: none;
    color: #3356B3;
}

#contact input[type=text],
#contact input[type=email] {
    height: 2.8rem;
}

footer {
    padding-top: 3rem;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    color: #353535;
    font-size: 14px;
}

footer .footer-copyright {
    font-size: 14px;
}

@media (min-width: 768px) {
    .jumbotron h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    .section-header {
        font-size: 3rem;
    }
}